<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Munster Public Transport Application</title>
</head>
<body>
    <h1>Munster Public Transport</h1>

    <!-- Search bar section -->
    <div>
        <input type="text" id="search" placeholder="Search for a place or address">
        <button onclick="searchLocation()">Search</button>
    </div>

    <div id="map-container">
        {{ folium_map | safe }}
    </div>

    <script>

        // Function to search for a location
        function searchLocation() {
            var searchInput = document.getElementById('search').value;
            // send the search parameter to the Flask backend
            fetch('/search_destination', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    search_param: searchInput
                })
            })
            .then(response => response.json())
            .then(data => updateMap(data))
        }

        // Function to get user's geolocation
        function getUserLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    // Send the coordinates to the Flask backend
                    fetch('/update_user_location', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            latitude: position.coords.latitude,
                            longitude: position.coords.longitude
                        })
                    })
                    .then(response => response.json())
                    .then(data => updateMap(data))
                });
            } else {
                console.error('An error occured when fetching the location');
            }
        }

        // Function to update the map with new HTML structure
        function updateMap(response) {
            if (response.updated_map_html) {
                document.getElementById('map-container').innerHTML = response.updated_map_html;
            } else {
                console.error('An error occured', response.message);
            }
        }

        // Get the user location when the page loads
        window.onload = getUserLocation;
    </script>
</body>
</html>