<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Munster Public Transport Application</title>
</head>
<body>
    <h1>Munster Public Transport</h1>

    <div id="map-container">
        {{ folium_map | safe }}
    </div>

    <script>
        function updateMap(response) {
            if (response.message === 'User location updated successfully') {
                // Update the map with the new HTML structure
                document.getElementById('map-container').innerHTML = response.updated_map_html;
            } else {
                console.error('Error updating user location:', response.message);
            }
        }

        // Function to get user's geolocation
        function getUserLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    // Send the coordinates to the Flask backend
                    fetch('/update_user_location', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            latitude: position.coords.latitude,
                            longitude: position.coords.longitude
                        })
                    })
                    .then(response => response.json())
                    .then(data => updateMap(data));
                });
            } else {
                console.error('An error occured when fetching the location');
            }
        }

        // Get the user location when the page loads
        window.onload = getUserLocation;
    </script>
</body>
</html>