<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Munster Public Transport Application</title>
    {{ folium_map | safe }}
</head>
<body>
    <h1>Munster Bus Stops</h1>

    <script>
        // Function to get user's geolocation
        function getUserLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    // Send the coordinates to the Flask backend
                    fetch('/update_user_location', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            latitude: position.coords.latitude,
                            longitude: position.coords.longitude
                        })
                    });
                });
            } else {
                console.error('An error occured when fetching the location');
            }
        }

        // Call the function when the page loads
        window.onload = getUserLocation;
    </script>
</body>
</html>